
@media (max-width: 768px){
    body{
        background-color:#2D2D2D;
        font-family: 'Monomaniac One';
        font-size: 45px;
    }

    .topContainer h1{
        color: white;
    }

    .mainContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center ;
    }

    .topContainer{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 80px;
    }
    .topContainer h1{
        margin: 5%;
    }

    .bottomContainer{
        width: 100%;
        margin-top: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .bottomContainer button{
        border-radius: 8px;
        box-shadow: 0 4px black;
        font-size: 25px;
        cursor: pointer;
        background-color: #8A7171;
    }

}