


@media (max-width: 768px){
    .bottomContainer-recommendations button{
        width: 120px;
        height: 50px;
        border-radius: 8px;
        box-shadow: 0 4px black;
        font-size: 30px;
        background-color: #8A7171;
        cursor: pointer;
    }

    .bottomContainer-recommendations .showB{
        background-color: #C3BE7F;
    }

    .bottomContainer-recommendations .backB{
        background-color: white;
    }

    .mainContainer-create{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .topContainer-recommendations{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        color: white;
        margin-top: 50px;
    }

    .topContainer-recommendations h1{
        margin-bottom: 200px;
    }

    .bottomContainer-recommendations{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;
        gap:2rem; 
        margin-top: 50px;
    }

}