body {
    margin: 0;
    padding: 0;
    font-family: 'Monomaniac One';
    background-color: #181A2A; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1024px;
    min-width: 768px;
    height: 100vh;
    /* background-color: #2D254C;  */
    background: linear-gradient(90deg, black 0%, gray 40%, gray 60%, black 100%);
    margin: 0 auto;
}

.topContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.topContainer h1 {
    margin: 5%;
    color: white;
    font-size: 45px;
}

.bottomContainer {
    width: 100%;
    margin-bottom: 30px; /* Increase if you want more space below */
    margin-top: 40px;    /* Add space above the button */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bottomContainer button {
    border-radius: 8px;
    box-shadow: 0 4px #000000;
    font-size: 25px;
    cursor: pointer;
    background: rgb(95, 7, 7);
    color: white;
    padding: 10px 20px;
    border: none;
    outline: none;
}


@media (max-width: 768px){
    
    .topContainer h1{
        color: white;
    }

    .mainContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center ;
        width: 100%;
        height: 100vh;
        transform: translateY(0);
        transition: transform 0.5s ease-in-out;
        background-color: black;
    }

    .mainContainer.slideUp {
        transform: translateY(-100%);
    }

    .topContainer{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 80px;
    }
    .topContainer h1{
        margin: 5%;
        color: white;
    }

    .bottomContainer{
        width: 100%;
        margin-top: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .bottomContainer button{
        border-radius: 8px;
        box-shadow: 0 4px black;
        font-size: 25px;
        cursor: pointer;
        background-color: #8A7171;
    }

}
