

@media (max-width: 768px){

    .bottomContainer-preferenceM button{
        width: 100px;
        height: 40px;
        border-radius: 8px;
        box-shadow: 0 4px black;
        font-size: 20px;
        background-color: white;
        cursor: pointer;
    }

    .bottomContainer-preferenceM .showB{
        background-color: #C3BE7F;
    }

    .middleContainer-preferenceM input{
        width:70%;
        height: 30px;
        font-size: 18px;
    }

    .middleContainer-preferenceM input::placeholder{
        font-size:15px; 
        text-align: center;
    }

    .middleContainer-preferenceM {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .middleContainer-preferenceM select {
        width: 70%;
        height: 30px;
        font-size: 18px;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 0 10px;
    }

    .mainContainer-preferenceM{
        width: 100vw;
        height: 100vh; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #8A7171;
    }

    .topContainer-preferenceM{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        color: white;
        margin-top: 30px;
    }

    .topContainer-preferenceM h1{
        margin-bottom: 100px;
    }

    .bottomContainer-preferenceM{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;
        gap:2rem; 
        margin-top: 50px;
    }

}