
.mainContainer-recommendations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1024px;
    /* Restrict the maximum width */
    min-width: 768px;
    /* Set the minimum width */
    min-height: 100vh;
    /* Take up the full viewport height */
    background-color: #2D2D2D;
    /* App background */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* Optional shadow */
    margin: 0 auto;
    /* Center horizontally */
    padding: 20px;
    /* Add padding for spacing */
}

.topContainer-recommendations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    /* Adjusted font size for larger screens */
    color: white;
    margin-bottom: 50px;
}

.topContainer-recommendations h1 {
    margin-bottom: 50px;
}

.bottomContainer-recommendations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    /* Add space between buttons */
}

/* Button styles for larger screens */
.bottomContainer-recommendations button {
    width: 150px;
    height: 50px;
    border-radius: 8px;
    box-shadow: 0 4px black;
    font-size: 20px;
    background-color: #8A7171;
    cursor: pointer;
    color: white;
    /* Ensure text is visible */
}

.bottomContainer-recommendations .showB {
    background-color: #C3BE7F;
}

.bottomContainer-recommendations .backB {
    background-color: white;
    color: black;
    /* Text color for contrast on white button */
}

@media (max-width: 768px){

    .bottomContainer-recommendations button{
        width: 100px;
        height: 40px;
        border-radius: 8px;
        box-shadow: 0 4px black;
        font-size: 20px;
        background-color: #8A7171;
        cursor: pointer;
    }

    .bottomContainer-recommendations .showB{
        background-color: #C3BE7F;
    }

    .bottomContainer-recommendations .backB{
        background-color: white;
    }

    .mainContainer-create{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .topContainer-recommendations{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 11px;
        color: white;
        margin-top: 50px;
    }

    .topContainer-recommendations h1{
        margin-bottom: 200px;
    }

    .bottomContainer-recommendations{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;
        gap:2rem; 
        margin-top: 50px;
    }

}